@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints';

// Variables
$primary: #3d424e;
$secondary: #80bf45;
$content-background-color: #f1f1f1;
$header-background-color: #495463;

// Styles
.primary-button {
  color: #fff;
  background-color: $secondary !important;
  border: none !important;
  text-transform: uppercase;
  padding: 0.5em 1.1em;
}

.primary-button:hover {
  color: #fff;
  background-color: #5b8237 !important;
  border: none !important;
}

.primary-button:focus {
  box-shadow: none;
}

.secondary-button {
  color: #fff;
  background-color: #495463;
  text-transform: uppercase;
}

.secondary-button:hover {
  background-color: #5a6268 !important;
}

.warning-button, .warning-button:hover {
  color: #ffffff;
  background-color: rgb(221, 107, 85) !important;
  border: none !important;
  text-transform: uppercase;
}

.custom-radio, .custom-checkbox {
  label, input {
    cursor: pointer;
  }
}

.error-msg {
  width: 100%;
  margin: 0.5rem;
  font-size: 80%;
  color: #dc3545;
}

.delete-btn, .delete-btn:hover, .delete-btn:focus {
  color: $secondary;
  background: none;
  border: none;
  box-shadow: none;
}
