.consignment {
  height: 100%;
  margin: 0;
}

.consignment-content {
  background-color: $content-background-color;
}
.consignment-sub-heading {
  background-color: $header-background-color;
  color: #ffffff;
}

.consignment-sender-receiver h3 {
  font-size: 1rem;
  font-weight: 600;
  border-bottom: 0.0625rem solid #495463;
  padding-bottom: 7px;
  margin-bottom: 16px;
}

::v-deep .row {
  margin: 0;
}

::v-deep .custom-select {
  float: right;
}

::v-deep .row {
  margin: 0 !important;
}

.consignment-default-address {
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.3em;
  color: #999999
}

.consignment-alert {
  width: 100%;
  text-align: center;
  z-index: 1020;
  position: sticky;
  top: 3.5em;
}
