.consignment-content {
  background-color: $content-background-color;
}
.consignment-sub-heading {
  background-color: $header-background-color;
  color: #ffffff;
}

::v-deep .row {
  margin: 0 !important;
}