::v-deep .modal {
  font-family: "Montserrat", sans-serif !important;
}

::v-deep .modal-header {
  background-color: #495463;
  color: #ffffff;
}

.modal-header h5 {
  color: #ffffff !important;
  opacity: unset;
}

::v-deep .modal-header .close {
  color: #ffffff !important;
  background: transparent;
}

.error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
