.address-book {
  background: #f1f4f6;
  height: 100%;
  margin: 0;
}

.address-book-header {
  background: rgba(255, 255, 255, 0.45);
  width: 100%;
}

.address-book-alert {
  width: 100%
}

.img-container {
  font-size: 1.5rem;
  color: #7187a4;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 0.83333333rem;
  background: #fff;
  box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03),
  0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03),
  0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
  0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
  border-radius: 0.25rem;
  width: 60px;
  height: 60px;
}

.address-book-content {
  margin: 32px;
}

h5 {
  margin: 0.5rem 0;
  text-align: left;
  font-size: 1.23em;
  font-weight: 600;
  opacity: 0.6;
}

p {
  font-size: 0.88rem;
  opacity: 0.6;
  margin: 0;
}

::v-deep .row {
  margin: 16px 0 0 0 !important;
}